*.class
*.jar
*.outhyp
*.diff
*.dat
*.import
po-uilib
cumpridor
faltoso
requisicao
run-tests.sh
tests/
user
works
.DS_Store
Thumbs.db
*.tmp
*.temp
*.log
*~
*.swp
*.swo
.vscode/
.idea/
po-uilib-202408310000/
.DS_Store